#deleteButton {
    display: block;
    margin: 10px auto;
}

#inputForm2 {
    width: fit-content;
    margin: 30px auto 10px auto;
    text-align: center;
}

#form2SubmitButton {
    display: block;
    margin: 15px auto;
}

#displayTable {
    border-collapse: collapse;
    background-color: white;
    width: 80%;
    margin: 15px auto 0 auto;
    text-align: center;
    padding: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#displayTable>thead {
    background-color: rgb(72, 131, 239);
    color: white;
    display: none;
}

#displayTable th,
#displayTable td {
    margin: 0;
    padding: 10px;
}

#displayTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#displayTable>tbody tr:hover {
    background-color: rgb(184, 255, 255);
}